# Virtual environment
venv/
.venv/
env/
ENV/

# Vector stores / Databases
chroma_db/
faiss_index/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Temporary backup
_backup_files/
